header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .navbar{
        padding: rem(18) 0;
        .navbar-nav{
            .nav-item{
                padding: 0 rem(20);
                &:first-child{
                    padding-left: 0;
                }
                a{
                    text-transform: uppercase; 
                    color: $white;
                }
            }
        }
    }
    .consultantNumber{
        padding-left: rem(46);
        position: relative;
        &:before{
            content: '';
            position: absolute; 
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;   
            width: 1px;
            height: 10px;
            background-color: $white;

        }
        span{
            color: $white;
        }
        a{
            color: $primary;
            text-decoration: none;
            display: inline-block;
            padding-left: rem(2);
        }
    }
}