* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


body {
    font-size: rem(16);
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
a{
    font-size: rem(14);
}
.nav-link{
    font-size: rem(14);
    padding: 0;
  
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}
a,
button {
    outline: none !important;

    &:hover {
        text-decoration: none;
    }
}

.container {
    padding: 0 rem(15);
    max-width: 84%;

    .row {
        margin: 0 rem(-15);

        [class^="col-"] {
            padding: 0 rem(15);
        }

        &.no-gutters {
            margin: 0;

            [class^="col-"] {
                padding: 0;
            }
        }
    }
}

.container-fluid {
    padding: 0 rem(15);

    .row {
        margin: 0 rem(-15);

        [class^="col-"] {
            padding: 0 rem(15);
        }

        &.no-gutters {
            margin: 0;

            [class^="col-"] {
                padding: 0;
            }
        }
    }
}

h1,
.h1 {
    line-height: 72px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    margin-bottom: rem(14);
    span{
        -webkit-text-stroke: 1px $white;
        color: transparent;
    }
}

h2,
.h2 {
    line-height: 46px;
    margin: 0 0 rem(15) 0;
    font-weight: 800;
    text-transform: uppercase;
    span{
        -webkit-text-stroke: 1px $black;
        color: transparent;
    }
}

h3,
.h3 {
    line-height: rem(52);
    font-weight: 700;
    text-transform: uppercase;
    span{
        -webkit-text-stroke: 1px $white;
        color: transparent;
    }
 
}

h4,
.h4 {
    line-height: rem(18);
    margin: 0 0 rem(15) 0;
}

h5,
.h5 {
    line-height: 1;
    margin: 0 0 rem(20) 0;
    font-weight: 600;
}

h6,
.h6 {
    line-height: 28px;
    margin: 0 0 rem(30) 0;
    font-weight: 300;
    font-style: italic;
    span{
        font-weight: 700;
        
        color: $black;
    }
}

p {
    font-size: rem(14);
    margin: 0 0 rem(30) 0;
    line-height: rem(24);
    font-weight: 300;
    color: $grey;
}

.btn {
    font-size: rem(16);
    font-weight: 700;
    position: relative;
    @include transitions(0.5s);
    text-align: center;
    // overflow: hidden;
    text-decoration: none;

    &.btn-primary {
        border: 2px solid $primary;
        border-radius: 4px;
        background-color: transparent;
        color: $primary;
        padding: rem(15) rem(46) rem(9) rem(46);
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            margin-left: rem(8);
            display: inline-block;
        }
    }
    &.btn-white{
        border: 2px solid $primary;
        border-radius: 4px;
        background-color: transparent;
        color: $black;
        padding: rem(30) rem(46) rem(30) rem(46);
        width: 100%;
        text-align: center;
        margin-bottom: rem(32);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: rem(96);
        max-height: rem(96);
        line-height: 28px;
        i.icon-info{
            width: rem(18);
            height: rem(18);
            font-size: rem(18);
            border-radius: 50%;
            border: 1px solid $primary;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: rem(14);
            opacity: 0;
            display: none;
        }
        .info{
            padding: rem(12) rem(16);
            position: absolute;
            bottom: rem(-96);
            background-color: #297C6B;
            border-radius: rem(10);
            z-index: 9;
            display: none;
            margin: 0 rem(32);
            i{
                position: absolute;
                top: rem(-9);
                left: 0;
                right: 0;
                font-size: rem(10);
                &:before{
                    color: #297C6B;
                }
            }
            span{
                display: inline-block;
                text-align: left;
                font-size: rem(13);
                color: $white;
                line-height: 20px;
            }
        }
    }


 
}
.sub-heading{
    padding: rem(48) 0 rem(32) 0;
    position: relative;
    // display: flex;
    // align-items: center;
    h2{
        position: relative;
        // min-width: rem(400);
        margin-bottom: 0;
    }
    .line{
        position: absolute;
        width: -webkit-fill-available;
        height: 1px;
        background: #EAEAEA;
        margin: auto;
        top: 0;
        bottom: 0;
        margin-left: rem(20);
    }
   
}
.btn-link {
    position: relative;
    font-size: rem(18);
    padding: rem(15) rem(60);
    @include transitions(0.5s);
    color: $white;
    background-color: $primary;
    border: 0;
    border-radius: 4px;
    display: inline-block;
    i{
        margin-right: rem(5);
    }
    // i {
    //     position: absolute;
    //     right: 0;
    //     top: rem(4);
    //     @include transitions(0.5s);

    //     &:before {
    //         font-size: rem(12);
    //     }
    // }

    &.delete-btn {
        i {
            &:before {
                font-size: rem(20);
            }
        }
    }

    &:hover,
    &:focus {
        -webkit-box-shadow: 0 0 0 0 #000;
        -moz-box-shadow: 0 0 0 0 #000;
        box-shadow: 0 0 0 0 #000;
        text-decoration: none;
    }
}

::-moz-selection {
    background: rgba($primary, 0.23);
}

::selection {
    background: rgba($primary, 0.23);
}

.slideInLeft {
    opacity: 1 !important;
}

.text-up {
    &.animated {
        opacity: 1 !important;
    }
}

.text-left-animate {
    &.animated {
        opacity: 1 !important;
    }
}

.slick-slide {
    &:focus {
        outline: none;
    }
}

.btn {
    &.btn-outline-white {
        &:hover {
            background: $white;
            color: $primary;
        }
    }
}


.form-control, .form-select{
    border-radius: 2px;
    font-size: rem(16);
    
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: rem(10) rem(12) !important;
    color: $white;
    position: relative;
    @include transitions();

    &.invalid{
        border: 1px solid $danger;

        ~ .error{
            display: block;
        }
        ~ .form-label{
            color: $danger;
        }
    }
 
}
.form-control:focus, .form-select:focus{
    background-color: transparent;
    color: $white;
    box-shadow: none;
    background-color: transparent;
}
.form-select{
    background-image: url('../svgs/arrowdown.svg');
    background-position: 95% center;
     background-size: 12px;
     background-repeat: no-repeat;
 }
.form-label{
    font-size: rem(16);
}
input:-internal-autofill-selected{
    background-color: transparent;
}



.slick-dots{
    bottom: rem(-70);
    li{
        &.slick-active{
            button{
                background-color: $primary;
            }
        }
        button{
            background-color: #EAEAEA;
            width: rem(16);
            height: rem(16);
            border-radius: 50%;
            &:before{
                content: none;
            }
        }
    }
}

.slick-arrow{

    &.slick-prev{
        left: 0;
        i{
            
            font-size: rem(32);
            &:before{
                @include transitions(0.5s);
            }
        }
        &:before{
            content: none;
        }
    }
    &.slick-next{
        right: 0;
        i{
            font-size: rem(32);
            &:before{
                @include transitions(0.5s);
            }
        }
        &:before{
            content: none;
        }
    }
}

.btn{
    &.btn-primary{
        &:hover, &:active{
            border: 2px solid $primary;
            border-radius: 4px;
            background-color: transparent;
            color: $primary;
        }
    }
    &.btn-link{
        &:hover{
            color: $white;
            background-color: $primary;
        }
        &:active{
            background-color: #35BB9C;
        }
    }
    &.btn-white{
        &:hover{
            color: $primary;
            i{
                opacity: 1;
                display: inline-flex;
            }
            .info{
                display: block;
            }
        }
    }
}
.slick-arrow{
    &:hover{
        i{
            &:before{
                color: $primary;
            }
        }
    }
}
@media (min-width: 1440.98px){
    html{
        zoom: 1.33;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199.98px){
    .container{
        max-width: 92%;
        padding: 0;
    }
    h1, .h1{
        // text-align: center;
        font-size: rem(52);
        line-height: 52px;
    }
    h3,.h3{
        font-size: rem(44);
    }
    .h5, h5{
        font-size: rem(18);
        line-height: 28px;
    }
    .h6, h6{
        font-size: rem(14);
        font-style: normal;
        margin-bottom: rem(16);
        line-height: 24px;
    }
    p{
        font-size: rem(18);
    }
    .btn.btn-white .info{
        bottom: rem(-120);
        i{
            left: 50%;
        }
    }

    
}
@media (min-width: 768px) and (max-width: 991.98px){
    .container{
        max-width: 92%;
        padding: 0;
    }
    h1, .h1{
        text-align: center;
    }
    h3,.h3{
        font-size: rem(44);
    }
    .h5, h5{
        font-size: rem(18);
        line-height: 28px;
    }
    .h6, h6{
        font-size: rem(14);
        font-style: normal;
        margin-bottom: rem(16);
        line-height: 24px;
    }
    p{
        font-size: rem(18);
    }
    .btn.btn-white .info{
        bottom: rem(-120);
        i{
            left: 50%;
        }
    }
    
}
@media (min-width: 575.98px) and (max-width: 767.98px){
    .container{
        max-width: 92%;
        padding: 0;
    }
    .h1, h1{
        font-size: rem(36);
        text-align: center;
        line-height: 40px;
    }
    .h2, h2{
        font-size: rem(24);
        line-height: 36px;
    }
    .h3, h3{
        font-size: rem(36);
        line-height: 48px;
    }
    .h5, h5{
        font-size: rem(18);
    }
    .h6, h6{
        font-size: rem(14);
        font-style: normal;
        margin-bottom: rem(16);
    }
    p{
        font-weight: 400;
        color: $grey;
    }
    .sub-heading{
        padding: 0 0 rem(16) 0;
    }
    .btn.btn-white .info{
        bottom: rem(-110);
        i{
            left: 50%;
        }
    }
}
@media (max-width: 575.98px){
    .container{
        max-width: 92%;
        padding: 0;
    }
    .h1, h1{
        font-size: rem(36);
        text-align: center;
        line-height: 40px;
    }
    .h2, h2{
        font-size: rem(24);
        line-height: 36px;
    }
    .h3, h3{
        font-size: rem(36);
        line-height: 48px;
    }
    .h5, h5{
        font-size: rem(18);
    }
    .h6, h6{
        font-size: rem(14);
        font-style: normal;
        margin-bottom: rem(16);
    }
    p{
        font-weight: 400;
        color: $grey;
    }
    .sub-heading{
        padding: 0 0 rem(16) 0;
    }
    .btn.btn-white .info{
        bottom: rem(-110);
        i{
            left: 50%;
        }
    }
}