.main-banner{
    padding: rem(127) 0 rem(60) 0;
    position: relative;
    // height: 70vh;
  
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #194D41 0%, rgba(25, 77, 65, 0.7) 100%);
    }
  
    .bgImg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('../images/bg.png');
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(116);
            background-image: url(../images/mergepat.png);
            background-repeat: no-repeat;
            z-index: 9;
        }
    }
    }

.bannerDetail{
    position: relative;
    z-index: 2;
    margin-top: rem(32);
    p{
        color: $white;
        text-align: left;
    }
}

.contact-card{
    position: relative;
    z-index: 2;
    padding: rem(60) rem(28) rem(32) rem(28);
    border-radius: rem(12);
    background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: rem(26);
    h4{ 
        color: $white;
        margin-bottom: rem(42);
    }

    form{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .input-field{
            width: 50%;
            padding: 0 rem(10);
            margin-bottom: rem(16);
            & > .form-floating{
                position: relative;
            }
            label{
                position: absolute;
                left: 0;
                top: 0;
                // bottom: 0;
                // height: fit-content;
                margin: auto;
                color: $white;
                transition: all 0.35s ease;
                padding: rem(10) rem(10) 0 rem(10);
                height: auto;
                width: auto;
            }
            .form-control{
                height: rem(48);
                &::placeholder {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                 }
                //  &:focus + .form-label {
                //     // font-size: 0.875rem;
                //     font-weight: 400;
                //     top: -0.65rem;
                //     left: 0.75rem;
                //     z-index: 5;
                //  }
                //  &:not(:placeholder-shown).form-control {
                //     &:not(:focus) + .form-label {
                //     //    font-size: 0.875rem;
                //        font-weight: 400;
                //        top: -0.65rem;
                //        left: 0.75rem;
                //        z-index: 5;
                //     }
                //  }

            }
            .button-wrap{
                margin-top: rem(30);
            }
        }
       
    }
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
     opacity: 1;
    transform: scale(0.85) translateY(-1.0rem) translateX(0.15rem);
    background-color: #2A7D6C;
    padding-top: rem(3);
}

.error{
    padding: rem(12) rem(16);
    position: absolute;
    bottom: rem(-75);
    background-color: $danger;
    border-radius: rem(10);
    z-index: 9;
    display: none;
    i{
        position: absolute;
        top: rem(-9);
        left: 0;
        right: 0;
        font-size: rem(10);
        &:before{
            color: $danger;
        }
    }
    span{
        display: inline-block;
        text-align: left;
        font-size: rem(13);
        color: $white;
        line-height: 20px;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .bannerDetail p{
        text-align: left;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){

    .main-banner{
        padding: rem(62) 0 rem(170) 0;
        .container{
            .row{
                margin: 0;
            }
        }
        .bgImg{
            background-size: cover;
            background-image: url('../images/banner-mob.png');
        }
    }
    .bannerDetail{
        margin-top: rem(78);
        padding: 0 rem(63);
        p{
            text-align: center;
        }
    }
    .contact-card{
        margin: auto rem(110);
        padding: rem(36) rem(16) rem(32) rem(16);
        form{
            margin: 0 rem(-10);
           
        }
    }
    
}
@media (min-width: 575.98px) and (max-width: 767.98px){

    .main-banner{
        padding: rem(62) 0 rem(170) 0;
        .container{
            .row{
                margin: 0;
            }
        }
        .bgImg{
            // background-size: cover;
            background-image: url('../images/banner-mob.png');
        }
    }
    .contact-card{
        margin: auto;
        padding: rem(36) rem(16) rem(32) rem(16);
        form{
            margin: 0 rem(-10);
           
        }
    }

    .bannerDetail{
        p{
            text-align: center;
        }
    }
    
}
@media (max-width: 575.98px){
    .main-banner{
        padding: rem(62) 0 rem(170) 0;
        .container{
            .row{
                margin: 0;
            }
        }
        .bgImg{
            // background-size: cover;
            background-image: url('../images/banner-mob.png');
        }
    }
    .contact-card{
        margin: auto;
        padding: rem(36) rem(16) rem(32) rem(16);
        form{
            margin: 0 rem(-10);
           
        }
    }
    .bannerDetail{
        p{
            text-align: center;
        }
    }
}